@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html,
body {
    overflow-x: hidden;
}

#Landing {

    background:
        linear-gradient(rgba(16, 78, 184, 0.5),
            rgba(3, 62, 199, 0.5)),
        url(/images/Landing_Image/forest-g3ac2318a8_1920.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#customBtn {
    border-color: #190844;
    color: #190844;
    font-weight: 900;
    background-color: transparent;
    border: 0.188rem solid #190844;
    transition: all 0.2s ease-in-out;
}

#customBtn:hover {
    background-color: #190844;
    color: white;
}

#projectBtn {
    min-width: 6.25rem;
    border-color: white;
    color: white;
    font-weight: 900;
    background-color: transparent;
    border: 0.188rem solid white;
    transition: all 0.2s ease-in-out;
}

#projectBtn:hover {
    background-color: white;
    color: #190844;
}

#footerText {
    color: white;
}

#footerIcon,
#navbarIcon {
    color: inherit;
}

#footerIcon:hover {
    color: #3506ac;
}

#navbarIcon:hover {
    color: #3506ac;
}

#InputContainer,
.headingContainer {
    position: relative;
}

#headingCircle::before,
#projectHeadingCircle::before,
#testimonialHeadingCircle::before,
#leftHeadingCircle::before {
    position: absolute;
    content: '';
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #ff885e;
}

.btn {
    border-radius: 0% !important;
}

#MessageIcon {
    position: absolute;
    top: 1.75rem;
    right: 2rem;
}

#ContactIcon {
    position: absolute;
    top: 1.563rem;
    right: 1.25rem;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 900;
    font-family: 'Poppins', cursive;
    color: #190844;
}

button {
    font-family: 'Open Sans', sans-serif;
}

#navText {
    color: #190844;
    font-weight: 900;
}

p,
a,
li {
    font-family: 'Open Sans', sans-serif;
    color: #190844;
}

ul, li, p{
    font-weight: 800;
}

#Skills img {
    max-width: 3.125rem;
}

#ProgressBarTop {
    position: relative;
    top: 0.375rem;
}

.circle {
    width: 0.625rem !important;
    height: auto !important;
    aspect-ratio: 1 !important;
    border-radius: 50%;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: space-between;
}

.projects-container img {
    height: 25rem;
    max-width: 25rem;
    flex-grow: 1;
    object-fit: cover;
}

#TestimonialText:first-letter {
    font-size: 1.5rem;
    font-weight: 700;
}


#EducationImage {
    object-fit: contain;
    max-width: 14.063rem;
    height: 14.063rem;
}

#EducationContainer {
    position: relative;
    min-height: 31.25rem;
    border: 0.25rem solid #190844;
}

#EducationCircle::before {
    position: absolute;
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    border: 0.188rem solid black;
    border-radius: 50%;
    background-color: white;
    left: -0.87rem;
}

#ProfessionalImage,
#TestimonialImage,
#LecturerImage {
    object-fit: cover;
}

#TestimonialImage {
    width: 25rem !important;
    max-height: 25rem !important;
}

#LecturerImage {
    width: 25rem !important;
    max-height: 25rem !important;
}

.imgContainer {
    position: relative;
}

#hoverText {
    font-size: 1.65em;
    color: white;
}

.hoverIcon {
    background-color: rgba(0, 42, 249, 0.75);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all 0.3s linear;
}

.imgContainer:hover .hoverIcon {
    opacity: 1;
}

@media screen and (max-width:768px) {
    #Right-Arrow {
        display: none;
    }

    #hoverOverText {
        display: none;
    }

    #headingCircle::before {
        top: 1.563rem;
        left: -0.8rem;
    }
    #TestimonialName{
        padding-top: 1rem;
    }

    #leftHeadingCircle::before {
        top: 1.563rem;
        left: -0.625rem;
    }

    #projectHeadingCircle::before {
        top: 3.75rem;
        left: 0rem;
    }

    #testimonialHeadingCircle::before {
        top: 1.563rem;
        left: 0.625rem;
    }

    #BootstrapIcon {
        position: absolute;
        object-fit: cover;
        min-height: 3.125rem;
        width: 3.125rem;
        bottom: 0.063rem;
        left: 7.188rem;
    }

    #CIcon {
        position: absolute;
        object-fit: cover;
        min-height: 3.125rem;
        width: 3.125rem;
        left: 7.188rem;
    }

    #Slider {
        border: 0.25rem solid #190844;
        width: 100%;
        height: 55rem;
    }

    #Left-Arrow {
        display: none;
    }
}

@media screen and (min-width:767px) {
    #Down-Arrow {
        display: none;
    }

    #clickText {
        display: none;
        opacity: 0.5;
    }

    #headingCircle::before,
    #leftHeadingCircle::before {
        top: 1.7rem;
        left: -0.938rem;
    }

    #leftHeadingCircle::before {
        top: 2.188rem;
        left: -0.938rem;
    }

    #projectHeadingCircle::before {
        top: 2.5rem;
        left: 18rem;
    }

    #testimonialHeadingCircle::before {
        top: 2.5rem;
        left: 23rem;
    }

    #Slider {
        border: 0.25rem solid #190844;
        width: 50%;
        height: 32rem;
    }

    #BootstrapIcon {
        object-fit: cover;
        min-height: 3.125rem;
        width: 3.125rem;
    }
    #Up-Arrow {
        display: none;
    }
}

input[type="text"],
input[type="email"] {
    border-radius: 0%;
    border:0.125rem solid #190844;
}

textarea[type="text"] {
    border-radius: 0%;
    border:0.125rem solid #190844;
}